*
{
  margin: 0;
  padding: 0;
}

html,
body
{
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.webgl
{
  cursor: grab;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

$bar-color: #fff;
$ball-color: #fff;
$bg-color: #EA4961;

.loading {
  position: absolute;
  width: 75px;
  height: 100px;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
  z-index: 4;

  body.complete & {
    opacity: 0
  }
  
  &__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: $bar-color;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    
    @for $i from 1 through 5 { 
       &:nth-child(#{$i}) {
         left: ($i - 1) * 15px;
         transform: scale(1,$i*.2);
         animation: barUp#{$i} 4s infinite;
        }
    }
    
  }
  
  &__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: $ball-color;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px)
  }
  17% {
    transform: translate(23px, -24px)
  }
  20% {
    transform: translate(30px, -20px)
  }
  27% {
    transform: translate(38px, -34px)
  }
  30% {
    transform: translate(45px, -30px)
  }
  37% {
    transform: translate(53px, -44px)
  }
  40% {
    transform: translate(60px, -40px)
  }
  50% {
    transform: translate(60px, 0)
  }
  57% {
    transform: translate(53px, -14px)
  }
  60% {
    transform: translate(45px, -10px)
  }
  67% {
    transform: translate(37px, -24px)
  }
  70% {
    transform: translate(30px, -20px)
  }
  77% {
    transform: translate(22px, -34px)
  }
  80% {
    transform: translate(15px, -30px)
  }
  87% {
    transform: translate(7px, -44px)
  }
  90% {
    transform: translate(0, -40px)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 { 
  0% {
    transform: scale(1, .2);
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,.2);
  }
}
@keyframes barUp2 { 
  0% {
    transform: scale(1, .4);
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 { 
  0% {
    transform: scale(1, .6);
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 { 
  0% {
    transform: scale(1, .8);
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 { 
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .2);
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.slide-panel {
  background: #000;
  height: 100vh;
  position: absolute;
  outline: none;
  top:0;
  transition: left 0.5s 1.5s ease-in-out;
  width: 50vw;
  z-index: 3;

  &--left {
    left:0;

    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100vh 0 0 10vw;
      border-color: transparent transparent transparent #000000;
      position: absolute;
      top: 0;
      right: -10vw;
    }

    .complete & {
      left: -60vw;

      @media only screen and (max-width: 768px) {
        left: -60vw;
      }
    }
  }

  &--right {
    left: 50%;

    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10vw 100vh 0;
      border-color: transparent #000000 transparent transparent;
      position: absolute;
      top: 0;
      left: -10vw;
    }

    .complete & {
      left: 110vw;
    }
  }
}

h1 {
  color: #fff;
  position: relative;
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
}

h2 {
  color: #fff;
  position: relative;
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
}

.logo {
 	width: 75px;
  height: 75px;
  margin: 50px auto;
  background: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  box-shadow:
    0 0 4px 1px rgba(0,0,0,0.2),
    0 3px 2px rgba(0,0,0,0.2);
  
  line-height: 130px;
  font-weight: bold;
  color: #505b65;
  text-align: center;
  font-size: 50px;
  font-family: 'Cutive', serif;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 2.5s;

  @media only screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
    left: 30px;
    bottom: auto;
    transform: none;
  }

  .complete & {
    opacity: 1;
  }

  span {
    color: #f15755; 
  }

  .role {
    text-transform: uppercase;
    position: absolute;
    font-family: 'Advent Pro', sans-serif;
    font-size: 12px;
    color: #a2a7ac;
    left: 29px;
    bottom: 39px;
    line-height: 1;
    text-align: right;
  }

  &:after {
    content: "";
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    background: #c8c8c8;
    background: linear-gradient(#c8c8c8, #dcdcdc);
    left: -15px; top: -15px; right: -15px; bottom: -15px;
    box-shadow:
      inset 0 1px 0 rgba(0,0,0,0.2),
      0 1px 0 rgba(255,255,255,0.9);
  }

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    background: #c8c8c8;
    border-radius: 40px;
    left: 47%;
    bottom: 40px;
  }
}

$i: 0;
$refcolors: #cb997e, #ddbea9, #ffe8d6, #b7b7a4, #a5a58d, #6b705c;
.stripes {
  display: none;
  position: absolute;
  left: 30px;
  top: 0;

  @media only screen and (min-width: 768px) {
    display: block;
  }

  &__bar {
    height: 0vh;
    width: 20px;
    position: absolute;
    z-index: 1;
    transition: height 0.2s ease-in-out;

    .complete & {
      height: 100vh;
    }

    @for $i from 1 through length($refcolors) {
      $c: nth($refcolors, $i);

      &:nth-child(#{$i}) {
        background: $c;
        left: #{$i * 20}px;
        transition-delay: #{$i * 0.15 + 1.5}s;
      }
    }
  }
}